#room-reservation-section {
    width: 1200px;
    background-color: white;
    margin: 150px auto;
    border-radius: 20px;
    padding-bottom: 25px;
}

#room-reservation-section > h1 {
    text-align: center;
    padding: 20px 0;
    font-weight: normal;
    font-size: 25px;
    position: relative;
}
